# Clock 50 MHz
NET "CLK" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

# Reset 
NET "RST" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;

# Keypad - linhas
NET "KYPD_ROW<3>" LOC = "E7" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;		# linha 1
NET "KYPD_ROW<2>" LOC = "A6" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;		# linha 2
NET "KYPD_ROW<1>" LOC = "D5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;		# linha 3
NET "KYPD_ROW<0>" LOC = "B4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;		# linha 4

# Keypad - colunas
NET "KYPD_COL<3>" LOC = "F7" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;		# coluna 1
NET "KYPD_COL<2>" LOC = "B6" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;		# coluna 2 
NET "KYPD_COL<1>" LOC = "C5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;		# coluna 3
NET "KYPD_COL<0>" LOC = "A4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;		# coluna 4

# 7 segmentos - dados
NET "SSEG_OUT<6>" LOC = "A8" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;		# pino AA
NET "SSEG_OUT<5>" LOC = "G9" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;		# pino AB
NET "SSEG_OUT<4>" LOC = "D12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	# pino AC
NET "SSEG_OUT<3>" LOC = "C12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	# pino AD
NET "SSEG_OUT<2>" LOC = "A15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	# pino AE
NET "SSEG_OUT<1>" LOC = "B15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	# pino AF
NET "SSEG_OUT<0>" LOC = "C3" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;		# pino AG

# 7 segmentos - digit select
NET "SSEG_SEL" LOC = "C15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;			# pino C
