# =========================================================
# Clock onboard de 50 MHz
# =========================================================
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20.0 ns HIGH 40%;

# =========================================================
# Reset em botão da placa
# BTN_SOUTH
# =========================================================
NET "reset" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;

# =========================================================
# UART RX pela porta RS-232 DCE
# =========================================================
NET "rx" LOC = "R7" | IOSTANDARD = LVTTL;

# =========================================================
# Display de 7 segmentos - dados
# Adaptado do Lab04
# =========================================================
NET "sseg<6>" LOC = "A8"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;   # pino AA
NET "sseg<5>" LOC = "G9"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;   # pino AB
NET "sseg<4>" LOC = "D12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;   # pino AC
NET "sseg<3>" LOC = "C12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;   # pino AD
NET "sseg<2>" LOC = "A15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;   # pino AE
NET "sseg<1>" LOC = "B15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;   # pino AF
NET "sseg<0>" LOC = "C3"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;   # pino AG

# =========================================================
# Display de 7 segmentos - digit select
# Adaptado do Lab04
# =========================================================
NET "sel" LOC = "C15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;        # pino C